body {
    background-image: url('http://globaldigitizers.com/adminpanel/public/images/yl.png');
    height: 100%;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mains {
    min-height: calc(100vh - 40px);
}

.navbar {
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .05);
    padding-top: .5625rem;
}

.signup-heading {
    padding: 40px 20px 20px 0;
    border: none;
    font-size: 20px;
    text-align: center;
    border-radius: 0 6px 6px 0;
}

.signup-block {
    padding: 40px 30px 0;
}

.signup-form .form-group {
    position: relative;
    text-align: -webkit-center;
}

.signup-form svg.feather {
    position: absolute;
    z-index: 1111;
    top: 18px;
    left: 15px;
    margin: 0;
    color: #CACBCC;
}

.signup-form .form-control {
    font-size: 14px;
}

.signup-heading .form-check {
    text-align: left;
}

.signup-heading .form-check .form-check-input {
    width: 15px;
    height: 15px;
    margin-top: 12px;
    margin-left: 0px !important;
    margin-right: 10px;
}

.signup-heading .form-check-label {
    font-size: 14px;
    margin-left: 5px;
}

.signup-form .form-control {
    padding: 30px 0 30px 45px;
    border-radius: 4px;
    border: 1px solid #CACBCC;
}

#intro {
    background-image: url('./public/images/yl.png');
    height: 100vh;
}

#file-chosen {
    margin-left: 0.3rem;
    font-family: sans-serif;
}

.materialbtn {
    border: 2px solid #043740 !important;
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
    width: 20%;
    padding: .7rem .75rem !important;
    color: #043740;
    font-weight: 500 !important;
    transition: 0.3s;
}

.materialbtn:hover {
    color: #fff !important;
    background: #043740;
}

.personalityheading {
    font-size: 35px;
    color: #043740;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.span1 {
    position: absolute;
    left: 37%;
    top: 50%;
    font-size: 13px;
    width: 11%;
    color: #000
}

.span2 {
    position: absolute;
    left: 39%;
    top: 62%;
    font-size: 13px;
    width: 8%;
    color: #000
}

.span3 {
    position: absolute;
    right: 39%;
    top: 62%;
    font-size: 13px;
    width: 8%;
    color: #000
}

.leftbtn {
    margin-left: 17px;
}

.justify-content-center.secondbtnrow {
    margin-top: 35px;
}

.materialbtn:hover {
    color: #ffff00 !important;
    background: #043740;
}

.materialbtn>a {

    color: #212529 !important;
    text-decoration: none !important;
}

.materialbtn:hover>a {

    color: #ffff00 !important;
    text-decoration: none !important;
}

/* Height for devices larger than 576px */
@media (max-width: 992px) {
    #intro {
        /* margin-top: -158.59px; */
        margin-top: 50px;
    }

    .materialbtn {
        width: 100%;
    }

    .justify-content-center.secondbtnrow {
        margin-top: 35px;
    }

    .uploadocument {
        margin-top: 20px;
    }

    .logo-img {
        width: 45% !important;
    }

    .footer-logo-img {
        width: 45% !important;
    }

    .span1 {
        position: absolute;
        left: 33%;
        top: 39%;
        font-size: 9px;
        width: 33%;
    }

    .span2 {
        position: absolute;
        left: 33%;
        top: 63%;
        font-size: 9px;
        width: 33%;
    }

    .span3 {
        position: absolute;
        left: 33%;
        top: 76%;
        font-size: 9px;
        width: 33%;
    }

}

.navbar .nav-link {
    color: #fff !important;
}

.leftbtn {
    margin-left: 0px;
}