body{
    background-image: url('http://globaldigitizers.com/adminpanel/public/images/updated.png');
       background-repeat: no-repeat;
       background-size: cover;
       overflow-x: hidden;
   }
   .mains{
     min-height: calc(100vh - 40px);
   }

button:focus {
    outline: none !important;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #043740;
  color: yellow;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
  font-size: 17px;
  font-weight: 600;
}

/* Add a symbol to each button to indicate whether the collapsible content is open or closed */
.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 10px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.activee:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .activee class with JS), and when you move the mouse over it (hover) */
.accordion .activee,
.accordion:hover {
  background-color: yellow;
  color: #043740;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  /* display: none; */
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.scoreresult{
    padding-left: 30px;
}