body{
    background-image: url('http://globaldigitizers.com/adminpanel/public/images/updated.png');
       background-repeat: no-repeat;
       background-size: cover;
       overflow-x: hidden;
   }
   .mains{
     min-height: calc(100vh - 40px);
   }
   button:active {
    border:none !important;
    border-style:none !important;
}
    .quizaddbtn{
        background: #043740;
    color: #fff;
    border-color: #043740;
    border-radius: 6px;
    }
    .quizaddbtn:hover{
        color:yellow;
    }
    .quizremovebtn{
         background: red;
    color: #fff;
    border-color: red;
    border-radius: 6px;
    }
    .quizquestion{
        width: 35%;
    background: #043740;
    border: 1px solid #043740;
    border-radius: 9px;
    padding: 15px;
    color: yellow;
    }

    .quizmultiupload{
        width:19%;
    }
    .materialbtn{
      border: 2px solid #043740 !important;
      border-top-left-radius: 16px !important;
      border-top-right-radius: 16px !important;
      border-bottom-left-radius: 16px !important;
      border-bottom-right-radius: 16px !important;
      width: 20%;
      padding: .7rem .75rem !important;
      color: #043740;
      font-weight: 500 !important;
      transition: 0.3s;
      }
      .materialbtn:hover{
      background:#043740 ;
      color: yellow;
      }

    @media only screen and (max-width: 600px) {
        .quizquestion{
        width: 100%;
    }
    .quizmultiupload{
        width: 100%;
        margin-top:10px;
    }
    .quizremovebtn{
margin-top:10px;
    }
    .quizaddbtn{
        margin-top:10px;
    }
    .materialbtn{
      width: 100%;
    }
    }





















/* .mytable {
background-color: #043740;
color: #fff;
margin-top:50px;
}
.table td {
padding: 0.2rem !important;
vertical-align: middle !important;
border-top: 1px solid #dee2e6 !important;
}
.editbtn {
background: #ffff00;
}
.navbar {
-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .05);
box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .05);
padding-top: .5625rem;
}


.materialbtn{
border: 2px solid #043740 !important;
border-top-left-radius: 16px !important;
border-top-right-radius: 16px !important;
border-bottom-left-radius: 16px !important;
border-bottom-right-radius: 16px !important;
width: 20%;
padding: .7rem .75rem !important;
color: #043740;
font-weight: 500 !important;
transition: 0.3s;
}
.materialbtn:hover{
color: #fff !important;
background:#043740 ;
}

.leftbtn{
margin-left: 17px;
}

.justify-content-center.secondbtnrow{
margin-top: 35px;
}
.materialbtn:hover{
color: #ffff00 !important;
background:#043740 ;
}
.materialbtn > a {

color: #212529 !important;
text-decoration: none !important;
}
.materialbtn:hover > a {

color: #ffff00 !important;
text-decoration: none !important;
} */
/* Height for devices larger than 576px */
/* @media (max-width: 992px) {
.table td, .table th {
padding: 0.5rem;
font-size:10px;
vertical-align: top;
border-top: 1px solid #dee2e6;
}
.editbtn {
background: #ffff00;
font-size: 10px;
}

.materialbtn{
width: 100%;
}
.justify-content-center.secondbtnrow{
margin-top: 35px;
}
.uploadocument{
margin-top: 20px;
}
.logo-img{
width:45% !important;
}
.footer-logo-img{
width:45% !important;
}

}

.navbar .nav-link {
color: #fff !important;
}
.leftbtn{
margin-left:0px;
} */
